.container {
    margin-top: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .button-add {
    margin-bottom: 10px;
  }
  
  .search-input {
    width: 300px;
  }
  
  .table {
    margin-top: 20px;
  }
  
  .table th, .table td {
    vertical-align: middle;
  }
  
  .modal-title {
    text-align: center;
    width: 100%;
  }
  
  .modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: center;
  }
  